<!-- header -->
<div class='container-fluid siteHeader'>
	<div class='header' id='redLine'>
            <a href="https://rustrush.ru"><div class='language blog' id='redButton'>rustrush.ru</div></a>

	<div class='flex-container ' id='navigation'>
		<div class='logo'><a href="/index"><img src="/scss/img/logo.png"></a></div>
	
	</div>

</div>
</div>
<!-- header -->





<div class='mobileHeader bottom-blog'>

<nav class="navbar navbar-expand-lg navbar-light">

  <button id='nav-toggler' class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id='mob-logo'> <a class="navbar-brand" href="/index.html"><img src="/scss/img/logo.png" width="165" height="140"></a></div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto top-mob-menu">
      <li class="nav-item">
            <a href="/index-ru"><div class='language' id='redButton' style="font-size: 41px">RU</div></a>

    <button id='menu-close' class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

      </li>

      <li class="nav-item">
        <a href="/about-eng.html">about</a>
      </li>
      <li class="nav-item">
        <a href="/buy-eng.html">buy a ticket</a>
      </li>
      <li class="nav-item">
        <a href="/program-eng.html">program</a>
      </li>
  </ul>

  <div class="row"><div class="col-12 col-sm-12 menu-red"></div>
   </div>

<ul class="navbar-nav mr-auto bottom-mob-menu">
      <li class="nav-item">
        <a href="/speakers-eng.html">speakers</a>
      </li>
      <li class="nav-item">
        <a href="/blog-eng.html">blog</a>
      </li>
      <li class="nav-item">
        <a href="/place-eng.html?attribution-eng">place</a>
      </li>
      <li class="nav-item">
        <a href="/q&a-eng.html">Q&A</a>
      </li>
      
    </ul>
  </div>
</nav>

</div>

<script src="/scss/hideMenu.js" type="text/javascript"></script>