<!-- header -->
<div class='container-fluid siteHeader'>
	<div class='header' id='redLine'>
    <a href="/index"><div class='language' id='redButton'>EN</div></a>

	<div class='flex-container ' id='navigation'>
		<div class='logo'><a href="/index-ru"><img src="/scss/img/logo.png"></a></div>
		<div class='nav' id='nav'>
			<div class="n"><a href='/about' id='navigation'>О КОНФЕРЕНЦИИ</a></div>
			<div class="n"><a href='/coc' id='navigation'>Правила</a></div>
			<div class="n"><a href="/buy.html" id='navigation'>КУПИТЬ БИЛЕТ</a></div>
			<div class="n"><a href="/program" id='navigation'>ПРОГРАММА</a></div>
		</div>
	</div>

	<div class='flex-container bottom' id='navigation'>
		<div class='nav' id='nav'>
			<div class="n" ><a href="/speakers" id='media'>ДОКЛАДЧИКИ</a></div>
			<div class="n"><a href="/blog" id='media'>БЛОГ</a></div>
			<div class="n"><a href="/place?attribution" id='media'>МЕСТО</a></div>
			<div class="n"><a href="/q&a" id='media'>Q&A</a></div>
		</div>
	</div>

	</div>
</div>
<!-- header -->


<div class='mobileHeader'>

<nav class="navbar navbar-expand-lg navbar-light">

  <button id='nav-toggler' class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id='mob-logo'> <a class="navbar-brand" href="/index-ru.html"><img src="/scss/img/logo.png" width="165" height="140"></a></div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto top-mob-menu">
      <li class="nav-item">
        		<a href="/index"><div class='language' id='redButton'>EN</div></a>

		<button id='menu-close' class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

      </li>

      <li class="nav-item">
        <a href="/about.html">о конференции</a>
      </li>
      <li class="nav-item">
        <a href='/coc'>правила</a>
      </li>
      <li class="nav-item">
        <a href="/buy.html">купить билет</a>
      </li>
      <li class="nav-item">
        <a href="/program.html">программа</a>
      </li>
  </ul>

  <div class="row"><div class="col-12 col-sm-12 menu-red"></div>
   </div>

<ul class="navbar-nav mr-auto bottom-mob-menu">
      <li class="nav-item">
        <a href="/speakers.html">Докладчики</a>
      </li>
      <li class="nav-item">
        <a href="/blog.html">Блог</a>
      </li>
      <li class="nav-item">
        <a href="/place.html?attribution">Место</a>
      </li>
      <li class="nav-item">
        <a href="/q&a.html">Q&A</a>
      </li>
      
    </ul>
  </div>
</nav>

</div>

<script src="/scss/hideMenu.js" type="text/javascript"></script>